@use "./SlickSlideReponsive.module.scss";
.wrapper_banner {
  display: flex;
  padding: 20px 30px;
  .title {
    color: #fff;
  }
  .desc {
    color: #fff;
  }

  .button {
    color: #fff;
  }

  .image {
    width: auto;
  }
}
