@import "./HomeReponsive.module.scss";

.wrapper_home {
  height: auto;
  max-width: 100%;
  width: 100%;
  .customLeft {
  }
  .customRight {
    .wrapper_course {
      padding: 10px 15px;
      padding-top: 30px;

      .title {
        margin-bottom: 20px;
        span {
          margin-bottom: 10px;
          font-size: 1.4rem;
          font-weight: 800;
          color: #404040;
        }

        .wrapper_space {
          .btn_filter {
            background-color: white;
            border: 1px solid #404040;
            span {
              color: black;
              font-size: 1rem;
              margin-bottom: 2px;
              font-weight: 500;
            }
            &:hover {
              background-color: #404040;
              span {
                color: white;
              }
            }
          }
          .btn_back {
            background-color: rgb(18, 202, 18);
            span {
              color: white;
            }
          }
        }
      }

      .course {
        padding-top: 20px;
      }
    }
  }
  .wrapper_ul {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 4px;
      padding-left: 0;

      li {
        list-style: none;
        padding: 4px 2px;
        border-radius: 4px;
        transition: background-color 0.3s;

        a {
          width: 72px;
          height: 72px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #404040;
          background: #fff;
          border-radius: 16px;
          cursor: pointer;

          span {
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
  }
}

.sidebar_bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: transparent;
  padding: 0px;
  width: 100%;
}
