@import "./HeaderReponsive.module.scss";

.wrapper-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    cursor: pointer;
    color: black;
    margin-right: 10px;
  }

  .btn_login {
    cursor: pointer;
    background-color: #ff8f26;
    transition: opacity 0.25s;
    color: white;
    border-radius: 30px;
    width: auto;
  }
}

.title {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 16px;
  color: #000;
}

.wrapper-logo {
  cursor: pointer;
}

.back_btn {
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }
}
